.All{
    background-color: black !important;


}
.container-fluid{

    margin: 20px;

}
h1{
    text-align: center;
    padding:20px;
    color: antiquewhite;
}
.Blogtitel{
    border-bottom-style: solid;
    border-bottom-color: antiquewhite;

}
.Invulveld input,
.Invulveld textarea{
    border-radius:  5px !important;
    padding: 3px 7px;
}

.Blogform{
    text-align: left;
    color: antiquewhite;
}

.Blogform___Titel____User{
    text: bold;

}

.Blogform___Titel____Post{
    text: bold;
}

h2{
    color: antiquewhite;
}

.Blogpost{
    padding: 20px;
    color: antiquewhite;
}
.Blogpost___Post___Titel{
    text: bold;
}
.Blogpost___Text___Post{
    background-color: #ff5e36;
    padding: 10px;
}
.infoOverPost{
    text-align: right;
}
a{
    text-decoration: none;
    color: black!important;
}



.Blogpost:nth-child(even){
    background-color: #f64824 !important;
}
.Blogpost:nth-child(odd){
    background-color: #2d2123 !important;
}
.error{
    color: #c62221;
    font-weight: bold;
}