<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Ehb Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--jqueries op datatables.net + link zelf aanvullen-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" th:href="@{/main.css}">
    <!--scriptjes (site bootstrap)-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- ook terug te vinden op datatables.net-->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</head>
<body>
<div class="All">
    <div class="container-fluid">
        <div class="Blogtitel">
            <h1>Ehb Blog</h1>
        </div>
        <div class="Blogform">
            <form th:action="@{~/index}" method="post" th:object="${nBlogpost}">
                <!--  span=blijft inline we willen deze enkel laten zie indie er fouten zijn-->
                <!--  fields zit standaard in time leaf -->
                <div class="Blogform___Titel____User"><label for="user" th:text="#{col_user}"></label></div>

                <div class="Blogform___Invulveld____User"><input type="text" th:field="*{user}" id="user"
                                                                 th:placeholder="#{col_e.g.user}"></div>

                <div class="Error"><span th:if="${#fields.hasErrors('user')}" th:errors="*{user}"
                                                            class="error"></span></div>

                <br>
                <div class="Blogform___Titel____Post"><label for="post" th:text="#{col_post}"> </label></div>

                <div class="Blogform___Invulveld____Post"><textarea rows="5" cols="60" th:field="*{post}" id="post"
                                                                    th:placeholder="#{col_e.g.text}"></textarea></div>
                <div class="Error"><span th:if="${#fields.hasErrors('post')}" th:errors="*{post}"
                                                            class="error"></span></div>
                <br>
                <div class="Blogform___Submit"><input th:value="#{submit}" type="submit"></div>
                <br>

            </form>
        </div>
        <div class="h2___&___Blogposts">
            <h2>Blogposts</h2>
            <div class="Blogpost" th:each="Blogpost: ${alleBlogposts}">


                <div class="Blogpost___Post">
                    <div class="Blogpost___Titel___Post">
                        <p th:text="#{col_post}"></p>
                    </div>

                    <div class="Blogpost___Text___Post">
                        <p th:text="${Blogpost.post}"></p>
                    </div>
                </div>
                <div class="infoOverPost">
                <div class="Blogpost___User">
                    <p th:text="#{col_user} + ${Blogpost.user}"></p>
                </div>

                <div class="Blogpost___Date">
                    <p th:text="#{col_date}+${Blogpost.date}"></p>
                </div>
                </div>
                <br>
                <div class="Blogpost___Delete">
                    <button><a th:href="@{~/delete/{id}(id =${Blogpost.id})}" th:text="#{delete}"></a></button>
                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>